 h2{
    font-size: 46px;
    position: absolute;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%);
    color: rgb(241, 80, 68);
    box-shadow: 13px 13px 32px 1px #000000;
}

@media all and (max-width:700px) {
    h2{
        position: absolute;
        left: 123px;
        color: rgb(241, 80, 68);
        box-shadow: 13px 13px 32px 1px #000000;
    }   
}
@media all and (max-width:500px) {
    h2{
        position: absolute;
        left: 40px;
        color: rgb(241, 80, 68);
        box-shadow: 13px 13px 32px 1px #000000;
    }   
}